<template>
    <div>
        <h1>User Lists</h1>
        <div class="container">
            <div class="row">
                <Users
                    v-for="user in users"
                    :key="users.id"
                    :user="user"
                    @getUser="getUsersInfo"
                />
            </div>
        </div>

    </div>
</template>

<script>
    import Users from "./Users";
    export default {
        components: {Users},
        mounted() {
            axios.get('api/users',{})
                .then(responce=>{
                    this.users=responce.data;
                });

        },

        data: function (){
            return{
                users:null,
            }
        },

        methods:{
            getUsersInfo(id){
                console.log(id);
            }
        }
    }
</script>
