<template>
    <div class="testing" @click="getUserInfo(user.id)">
        {{user.name}}
    </div>
</template>

<script>
export default {
    name: "Users",

    props:{
        user:{
            type: Object,
            required: true
        }
    },
    methods:{
        getUserInfo(id){
            this.$emit('getUser',id)
        }
    }
}
</script>

<style scoped>
    .testing{
        color: red;
        background-color: black;
        cursor: pointer;
    }
</style>
